/* .hidden {
	display: none;
}

#container {
	margin: 0 auto;
	width: 1920px;
}

.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 70px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
	font-size: 34px;
	background-color: #fff;
	color: purple;
}

header{
    position: fixed;
    max-width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightseagreen;
    padding: 15px 6%;
}

.OmPatel{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

span{
    color: red;
}

#menu-con{
    font-size: 1.8rem;
    font-weight: 700;
    box-sizing: border-box;
    box-shadow: inset black;
    color: grey;
    text-decoration: none;
}

.Switch-Portfolio{
    box-sizing: content-box;
}

#hero-image {
    width: 650px;
    height: 500px;
    margin-top: 2px;
}

a {
	text-decoration: none;
}

.butt{
	background-color: lightskyblue;
	height: 70px;
	width: 230px;
	cursor: pointer;
	color: darkred;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 200px;
    font-size: 25px;
    text-align: center;
}

.butt:hover{
	background-color: rgb(229, 229, 229);
	color:black;
}



.butt-1{
	border: 1px;
	background-color: black;
	height: 60px;
	width: 550px;
	cursor: pointer;
	color: white;
    align-items: center;
    margin-top: -275px;
    font-size: 25px;
}

.butt-1:hover{
	background-color: lightcoral;
	color: red;
}

.Switch-Portfolio {
    background-color: blue;
    color: bisque;
    font-size: 25px;
    display: flex;
	margin-top: 15px;
    border-radius: 3px;
}

#Switch-Portfolio {
    border-radius: 3px;
	background-color: gold;
	height: 70px;
	width: 180px;
	cursor: pointer;
	color: black;
    margin-right: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#Switch-Portfolio {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 7/12;
	margin-top: 50px;
	height: 600px;
    color: Red;
    text-align: center;
}

#hero-image {
	grid-column: 1/9;
	height: 650px;
}

/* ekam */
/* .lightbox1 {
    width: 100vw;
    height: 200vh;
    position: absolute;
    padding-left: 100px;
    background-color: lightyellow;
    background-image: url('../images/ekam-1.jpg');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px center;
    display: none;
    z-index: 5000;
}

.lightbox_close1{
    margin-left: 100px;
    font-size: 120px;
    color: black;
    margin-top: 30px;
}

.lightbox_close1:hover { opacity: 0.5; color: olive; }

.lightbox1 article {
    width: 50%;
    margin-left: 50%;
}

.lb_heading { 
    text-align: center;
    color: black;
    font-size: 40px;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 4em;
    color: red;
    font-size: 30px;
}

.lightbox1:target { display: block; } */ */